<h1>Listing nodes</h1>

<table>
  <thead>
    <tr>
      <th>Node</th>
      <th>Version</th>
      <th>Current version</th>
      <th>Language</th>
      <th>Title</th>
      <th>Authors</th>
      <th>Status</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Unpublished at</th>
      <th>First published</th>
      <th>Last published</th>
      <th>Rank</th>
      <th>Metadata</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |node| %>
    <tr>
      <td><%= node.node_id %></td>
      <td><%= node.version_id %></td>
      <td><%= node.current_version_id %></td>
      <td><%= node.language %></td>
      <td><%= node.title %></td>
      <td><%= node.authors_id %></td>
      <td><%= node.status %></td>
      <td><%= node.created_at %></td>
      <td><%= node.updated_at %></td>
      <td><%= node.unpublished_at %></td>
      <td><%= node.first_published %></td>
      <td><%= node.last_published %></td>
      <td><%= node.rank %></td>
      <td><%= node.metadata %></td>
      <td><%= node.content %></td>
      <td><%= link_to 'Show', node %></td>
      <td><%= link_to 'Edit', edit_node_path(node) %></td>
      <td><%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Node', new_node_path %>
