<%= form_for(@user, :html => { :id => 'userform' }) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :uid, :class => 'label'%><%= f.text_field :uid %>
    </div>
    <div class="field">
      <%= f.label :name, :class => 'label' %><%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :password, :class => 'label' %><%= f.text_field :password %>
    </div>
    <div class="field">
      <%= f.label :mail, :class => 'label' %><%= f.text_field :mail %>
    </div>
    <div class="field">
      <%= f.label :tagline, :class => 'label' %><%= f.text_field :tagline %>
    </div>
    <div class="field">
      <%= f.label :last_update, :class => 'label' %><%= f.text_field :last_update %>
    </div>
    <div class="field">
      <%= f.label :last_access, :class => 'label' %><%= f.text_field :last_access %>
    </div>
    <div class="field">
      <%= f.label :status, :class => 'label' %><%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :timezone, :class => 'label' %><%= f.text_field :timezone %>
    </div>
    <div class="field">
      <%= f.label :metadata, :class => 'label' %><%= f.text_field :metadata %>
    </div>
    <div class="field">
      <%= f.label :user_roles, :class => 'label' %><%= f.text_field :user_roles %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
