<%= form_for(@user, :html => { :id => 'userform' }) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :uid %><%= f.text_field :uid %>
    </div>
    <div class="field">
      <%= f.label :name %><%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :password %><%= f.text_field :password %>
    </div>
    <div class="field">
      <%= f.label :mail %><%= f.text_field :mail %>
    </div>
    <div class="field">
      <%= f.label :tagline %><%= f.text_field :tagline %>
    </div>
    <div class="field">
      <%= f.label :last_update %><%= f.text_field :last_update %>
    </div>
    <div class="field">
      <%= f.label :last_access %><%= f.text_field :last_access %>
    </div>
    <div class="field">
      <%= f.label :status %><%= f.text_field :status %>
    </div>
    <div class="field">
      <%= f.label :timezone %><%= f.text_field :timezone %>
    </div>
    <div class="field">
      <%= f.label :metadata %><%= f.text_field :metadata %>
    </div>
    <div class="field">
      <%= f.label :user_roles %><%= f.text_field :user_roles %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
